* {
  padding: 0;
  margin: 0;
}

body {

  font-size: normal;
  /* text-align: center; */
  scroll-behavior: smooth;
}

body {
  background-color: #0d0d1f;
}

.js .accordion:nth-child(n + 1) {
  display: none;
}
